*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'FontAwesome', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */
    .top_nav_bar_content > img:first-child{
        width: 50px;
    }

    .top_nav_bar_content > img:last-child{
        width: 150px;
    }

    .top_nav_bar_content input{
        font-size: 12px;
        padding: 10px;
        background-color: #E5E5E5;
    }
/* FINE HEADER */

/* MAIN */
/* FINE MAIN */

/* UTILITIES */
    /* WIDTH */
        .w_100{
            width: 100%;
        }
    /* FINE WIDTH */

    /* HEIGHT */
        .h_50{
            height: 50%;
        }

        .h_100{
            height: 100%;
        }
    /* FINE HEIGHT */

    /* TEXT COLOR */
        .txt_grey{
            color: #5B5858;
        }

        .txt_orange{
            color: #FF8F00;
        }
    /* FINE TEXT COLOR */

    /* BG COLOR */
        .bgcolor_grey{
            background-color: #F8F9FA;
        }

        .bgcolor_darkblue{
            background-color: #051E34;
        }
    /* FINE BG COLOR */
/* FINE UTILITIES */

/* LAYOUT */
    /* HEADER LAYOUT */
        nav{
            height: 65px;
        }
    /* FINE HEADER LAYOUT */

    /* MAIN LAYOUT */
        .main_side_bar{
            width: 80px;
            background-image: url(../img/sidebar-bg.png);
        }
        
        .main_center{
            width: calc(100% - 80px);
            right: 0;
            overflow-y: auto;
        }

        .main_side_bar, .main_center{
            height: calc(100vh - 65px);
            bottom: 0;
        }
    /* FINE MAIN LAYOUT */
/* FINE LAYOUT */

/* LAYOUT RESPONSIVE */
    /* TABLET */
    @media (min-width: 768px){

    }

    /* DESKTOP */
    @media (min-width: 992px){
        .main_side_bar{
            width: 150px;
        }

        .main_side_bar_content i{
            width: 55px;
        }

        .main_side_bar_content span{
            width: 55px;
        }

        .main_center{
            width: calc(100% - 150px);
        }
    }
/* FINE LAYOUT RESPONSIVE */

