*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
    /* HEADER LAYOUT */
        nav{
            height: 80px;
        }
    /* FINE HEADER LAYOUT */

    /* MAIN LAYOUT */
        .main_side_bar{
            width: 100px;
        }
        
        .main_center{
            width: calc(100% - 100px);
            right: 0;
            overflow-y: auto;
        }

        .main_side_bar, .main_center{
            height: calc(100vh - 80px);
            bottom: 0;
        }
    /* FINE MAIN LAYOUT */
/* FINE LAYOUT */

/* UTILITIES */
    /* WIDTH */
        .w_100{
            width: 100%;
        }
    /* FINE WIDTH */

    /* HEIGHT */
        .h_20{
            height: 20%;
        }
        
        .h_50{
            height: 50%;
        }

        .h_100{
            height: 100%;
        }
    /* FINE HEIGHT */
/* FINE UTILITIES */
